/* You can add global styles to this file, and also import other style files */
div {
  background: #7a7a7a;
  //background: -webkit-linear-gradient(#3d3d3d 01%, #7a7a7a 99%);
  padding-bottom: 27px;
  color: #000;
}

.ahorcado-img {
  height: 375px;
  box-shadow: 0px 3px 14px #333; 
}

button {
  margin: 3px;
  box-shadow: 0px 3px 14px 3px #333; 

}
